body {
  background-color: #393E46;
}

h1 {
  font-family: 'Lobster', cursive;
  margin: 30px;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}


.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}


.btn {
  margin-top: 5%;
  padding: 1.5%;
  background-color: #0a8859;
  border-radius: 20px;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  text-shadow: 1px 1px 10px #000;
  font-size: 1.8rem;
  color: #fff;
  border: 0;
}

.btn:hover {
  border: 1px solid #4ECCA3;
  cursor: pointer;
  font-size: 2rem;
  text-shadow: 1px 1px 25px #000;
  outline: none;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.attribution {
  font-size: 1.5rem;
}

a {
  color: #bbbbbb;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}
